body {
    background-image: url(IMG/backgroundIMG2.png);
    background-size: cover;
    font-family: "Forum", serif;
}

.screen1 p {
    margin-left: 200px;
    margin-top: 300px;
    font-size: 100px;
    color:#F99393;
}
