@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

body {
    background-image: url(IMG/gameIMG.png);
    background-size: cover;
    font-family: "Forum", serif;
}

.screen1 p {
    margin-left: 200px;
    margin-top: 300px;
    font-size: 100px;
    color:#F99393;
}
